configuration {
    modi: "drun,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-drun: " 🏃  Run ";
    display-window: " 🪟  Window";
    sidebar-mode: true;
    element-text {
        text-color: #f9e2af; 
    }
} 

@theme "catppuccin-mocha"
